#header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: darkseagreen;
    font-weight: bolder;
}

#post {
    color: orange;
    font-size: 12px;
    text-align: left;
}