#header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkseagreen;
    font-weight: bolder;
}

#post {
    color: blue;
    font-size: 12px;
    text-align: left;
}